# Project specific
data
resources/websites.csv
resources/websites_pa.csv
resources/allsites.csv
*.log
images

# Python/Jupyter
__pycache__
.ipynb_checkpoints

# Misc
geckodriver
geckodriver.log

req.txt
getwebsites.py
customsettings.py